.project
.project.json 
altered/drawable 
altered/drawable/ 
created/drawable 
created/drawable/* 
.workspace
*.world
created/maps/world1.world
created/maps/Brightport.world
/altered/maps/drawable
/created/maps_sourcegame
created/maps/template.tmx
created/maps/drawable.lnk
created/maps/world1.world
created/maps/template.tmx
created/maps/world1.world
created/maps/template.tmx
created/maps/big_map.tmx
created/maps/big_mapz.tmx
created/drawable.lnk
created/maps/template.tmx
created/maps/world1.world
created/maps/big_mapz.tmx
altered/maps/arulircave1.tmx.bak
created/maps/big_mapz.tmx
created/maps/template.tmx
created/maps/world1.world
